In [ ]:
#conditional statement
age = input()
if int(age) >= 21:
  print("You are eligible for the vote")

21
You are eligible for the vote

In [ ]:
#if-else statement
age = input("Enter you age: ")
if int(age) >= 21:
  print("You are eligible for the vote")
else:
  print("You are not eligible for the vote")

Enter you age: 10
You are not eligible for the vote

In [ ]:
# if elif
marks = int(input("Enter your marks: "))
if marks >= 90:
  print("Grade: A")
elif marks >= 80:
  print("Grade: B")
elif marks >= 70:
  print("Grade: C")
elif marks >= 60:
  print("Grade: D")
else:
  print("Grade: F")

Enter your marks: 85
Grade: B

In [ ]:
#nested if
num = int(input("Enter number: "))
if num > 5:
  if num % 2 == 0:
    print("Even number is greater than 5")
  else:
    print("Odd number is greater than 5")
else:
  print("Number is less than 5")

Enter number: 10
Even number is greater than 5

In [ ]:
# Ternary Operator
age = 30
message = "Adult" if age >= 18 else "Not Adult"
print(message)

Adult

In [ ]:
#match-case
color = input("Enter your color: ")
match color.lower():
  case 'red':
    print("Stop")
  case 'yellow':
    print("Ready")
  case 'green':
    print("Go")
  case _:
    print("Invalid color")

Enter your color: Yellow
Ready

In [ ]:
# for loop
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [ ]:
# looping on a string
fruit = "Apple"
for char in fruit:
  print(char)

A
p
p
l
e

In [ ]:
# for loop in a dictionary
dict = {"fruit": "Apple", "car": "Suzuki", "city": "Tokyo"}
for key, value in dict.items():
  print(f"{key}: {value}")

fruit: Apple
car: Suzuki
city: Tokyo

In [ ]:
# range function
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# while loop
count = 0
while count < 5:
  print(f"count: {count}")
  count += 1

count: 0
count: 1
count: 2
count: 3
count: 4

In [ ]:
# Infinite loop
while True:
  user_input = input("Enter q to exit: ")
  if user_input == 'q':
    print("Exiting the loop...")
    break

Enter q to exit: q
Exiting the loop...

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
# Loop inside loop
for i in range(3):
  for j in range(2):
    print(f"{i} {j}")
    # 3 x 2 matrix

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
for i in range(1, 6):
  for j in range (1, 11):
    print(f"{i} x {j} = {i*j}")
  print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Loop else statement
for i in range(5):
  print(i)
else:
  print("Loop completed")

0
1
2
3
4
Loop completed

In [ ]:
# Search functionality
nums = [1, 2, 3, 4, 5]
search = 7

for num in nums:
  if num == search:
    print(f"found {search}")
    break
else:
  print(f"{search} number not found")

7 number not found

In [ ]:
# define functions in python
def greet():
  print("Hello, I am learning python...")
greet()

Hello, I am learning python...

In [ ]:
def greet(name):
  print(f"Hello, {name} is learning python...")
greet("Abdur Rehman")

Hello, Abdur Rehman is learning python...

In [ ]:
# def add(a, b):
#   return a + b
# print(add(6, 4))

def display_info(name, age=21):
  print(f"Name: {name}, Age: {age}")
display_info(name="Abdur Rehman", age=20)

Name: Abdur Rehman, Age: 20

In [ ]:
def my_function():
  pass
result = my_function()
print(result)

None

In [ ]:
# Aribitrary arguments

# def add(*args):
#   total = 0
#   for num in args:
#     total += num
#   return total
# result = add(1, 2, 3, 4, 5)
# print(result)

def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")
print_kwargs(name="Abdur Rehman", age = 20)

name: Abdur Rehman
age: 20

In [ ]:
# Lambda function

square = lambda x: x ** 2
result = square(5)
print(result)

25