In [ ]:
# indenation
if True:
  print("This is my second class of Python...")

# comments
# if True:
#   print("This is my second class of Python...")

This is my second class of Python...

In [ ]:
# variables and constants
name = "Abdur Rehman"
print("My name is ", name)

PI = 3.14159
print(PI)

My name is  Abdur Rehman
3.14159

In [ ]:
# input and output functions
name = input("Enter your name: ")
print("My name is ", name)

print(type(name))

Enter your name: Abdur Rehman
My name is  Abdur Rehman
<class 'str'>

In [ ]:
# Primitive Data type
x = 10
y = 10.01
z = 4 + 3j

print("Real number is ", z.real)
print("Imaginary number is ", z.imag)

Real number is  4.0
Imaginary number is  3.0

In [ ]:
# string

sentence = "This is my second class of python"
print("First letter: ", sentence[0])
print("p is at", sentence[-6])

# string slicing
print(sentence[0:23])

First letter:  T
p is at p
This is my second class

In [ ]:
# lists
numbers_list = [1, 2, 3, 4, 5]
numbers_list.append(6)
print(numbers_list)

# tuples
numbers_tuple = (1, 2, 3, 4, 5)

# dictionaries
person = {
    "name": "Abdur Rehman",
    "age": 20,
    "city": "Islamabad"
}
print(person["name"])

[1, 2, 3, 4, 5, 6]
Abdur Rehman

In [ ]:
# implicit conversion
x = 10
y = 10.01
z = x + y
print(z)
print(type(z))

20.009999999999998
<class 'float'>

In [ ]:
#explicit conversion

age = "26"
print(type(age))
integer = 10

age = int(age)
print(type(age))
print(age + integer)

<class 'str'>
<class 'int'>
36

In [ ]:
# Operators
# Arithmetic Operators

num1 = 4
num2 = 10

print("Addition: ", num1 + num2)
print("Subtraction: ", num1 - num2)
print("Multiplication: ", num1 * num2)
print("Division: ", num1 / num2)
print ("Floor Division", num1 // num2)

# Comparison Operators
print("Equal: ", num1 == num2)
print("Not Equal: ", num1 != num2)
print("Greater Than: ", num1 > num2)
print("Less Than: ", num1 < num2)

# Logical Operators
p = True
q = False
print("AND: ", p and q)
print("OR: ", p or q)
print("NOT: ", not p)

# Assignment Operator
a = 10
a += 5
print(a)

Addition:  14
Subtraction:  -6
Multiplication:  40
Division:  0.4
Floor Division 0
Equal:  False
Not Equal:  True
Greater Than:  False
Less Than:  True
AND:  False
OR:  True
NOT:  False
15

In [ ]:
#length function
name = "Abdur Rehman"
print(len(name))

#split function
print(name.split())

12
['Abdur', 'Rehman']

In [ ]:
#random fucntion
import random
print(random.randint(1, 10))
print(random.random())
items = ['Apple', 'Banana', 'Orange']
print(random.shuffle(items))

9
0.5687489185255874
Orange